/* Estilização do primeiro bloco da página */
#id_div_1 {
   background-color: #FF6600 ;
   padding: 20px;
   text-align: center;
   border-radius: 15px; 
}

/* Estilização do conteúdo do primeiro bloco da página */
.class_div_1 {
   color: #0099DD ;
   font-family: 'roboto condensed', sans-serif;
   font-size: 25px;
}

/* Estilização do segundo bloco da página */
#id_div_2 {
   background-color: #339933;
   margin-top: 20px;
   padding: 20px;
   border-radius: 15px; 
}

/*Estilização do conteúdo do segundo bloco da página */
.class_div_2 {
   color: #993300;
   font-family: 'impact', sans-serif;
   text-align: justify;
   font-size: 15px;
}

/* Estilização do terceiro bloco da página */
#id_div_3 {
   background-color: #000000;
   color: #FFFFFF;
   font-family: 'barlow condensed', sans-serif;
   margin-top: 10px;
   padding: 20px;
   text-align: center;
   border-radius: 15px;
}

/* Estilização do quarto bloco da página */
#id_div_4 {
   background-color: #000000;
   color: #FFFFFF;
   font-family: 'barlow condensed', sans-serif;
   margin-top: 30px;
   padding: 20px;
   text-align: center;
   border-radius: 15px;
}

/* Imagem de fundo da página */
body {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN13dIvRK5wbIf5KPIzam-wbYHsCX2vgf0BmEyZr48BQ&s')
}
/* Estilização atrelada ao JavaScript da página */
body {
            font-family: sans-serif;
            padding: 20px;
            text-align: center;
        }
        
        input {
            padding: 10px;
            font-size: 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 250px;
            outline: none;
        }

        button {
            padding: 10px 15px;
            font-size: 1rem;
            background-color: #ff6600; /* Laranja vibrante */
            color: #0099dd;
            border: 2px solid transparent;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.2s; /* Transição suave */
        }

        #resultado {
            margin-top: 25px;
            padding: 20px;
            border-radius: 8px;
            background-color: #000000;
            border: 1px solid #ddd;
        }

        #irm {
            max-width: 250px;
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        #mens {
            font-size: 1.6rem;
            color: #FFFFFF;
            font-weight: bold;
            margin: 0;
        }